<nav>
    <div class="container">
        <div class="nav__logo">
            <p>Company <span>Name</span></p>
        </div>
        <ul class="nav__list">
            <li><a href="/home">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/services">services</a></li>
        </ul>
    </div>
</nav>
