<section class="newslatter">
    <div class="container">
        <h2>Subscribe Our <span class="blue">Newsletter</span></h2>
        <form id="newslatter">
            <input type="text" placeholder="email">
            <button>Subscribe</button>
        </form>
    </div>
</section>