<section class="newslatter">
    <div class="container">
        <h2>Subscribe Our <span class="blue">Newsletter</span></h2>
        <form id="newslatter" action="/subscribe" method="post">
            <input type="text" placeholder="email" name="email">
            <button type="submit" value="Subsribe">Subscribe</button>
        </form>
    </div>
</section>