<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Document</title>
</head>
<body>
    {{> nav}}
    <header>
        <div class="container">
            <div class="header__slogan">
                <h1>Your Company <span>Slogan</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, excepturi eaque. Quia corrupti ad provident temporibus! Eveniet error vero cumque!</p>
            </div>
        </div>
    </header>
    <section class="newslatter">
        <div class="container">
            <h2>Subscribe Our Newsletter</h2>
            <form id="newslatter">
                <input type="text">
                <button>Subscribe</button>
            </form>
        </div>
    </section>
    

   
</body>
</html>