<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Document</title>
</head>
<body>
    {{> nav}}
    <section class="service">
        <div class="container">
            <main>
                <h1>Service</h1>
                <div class="par">
                    <h3>Project</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, in a! Aliquid quisquam laborum totam excepturi. Ullam quisquam temporibus praesentium sunt fuga. Natus maxime veritatis obcaecati, dignissimos quod iste, reprehenderit, commodi expedita adipisci quam libero ab modi! Pariatur placeat ex illo impedit qui fugiat provident ea aperiam quia eius deleniti, maiores, vero eaque repellat voluptas cupiditate asperiores explicabo minima repudiandae!</p>
                </div>
                <div class="par">
                    <h3>Design</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsa aliquid molestias suscipit ex soluta nam odit beatae corrupti, distinctio eaque laudantium quibusdam optio itaque debitis aliquam, vero exercitationem expedita fugiat! Molestias eos ipsa dolore perspiciatis, aliquid corporis, explicabo iste illo error esse sed eligendi?</p>
                </div>
                <div class="par">
                    <h3>Maintance</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt deleniti soluta nobis, velit, eveniet laboriosam consectetur quam et nemo autem alias! Exercitationem quia quidem deleniti cum cumque, voluptates aliquid tenetur dolorum voluptas, minus praesentium dolorem. Exercitationem vel sapiente, earum veritatis architecto culpa ducimus nostrum perferendis! Ab veritatis maxime suscipit, at impedit modi aperiam facilis quasi. Possimus quidem exercitationem eius. Excepturi labore natus atque et mollitia velit, earum possimus deserunt impedit eius voluptatum ipsa in nesciunt, odio quidem dignissimos! Ab, magnam!</p>
                </div>
            </main>
            <aside>
                <form>
                    <h3>Ask a question</h3>
                    <div class="input-grup">
                        <label for="name">You name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="input-grup">
                        <label for="topic">Topic</label>
                        <input type="text" name="topic" id="topic">
                    </div>
                    <div class="input-grup">
                        <label for="message">Type your message</label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </aside>
        </div>
    </section>
    {{> footer}}
</body>
</html>